html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.embody {
  color: #545149;
  background-color: #f4f1ec;
  font-size: 30px;
  font-family: 'Source Sans Pro', sans-serif;
}

.headerProfilePicture {
  /* 
   * box modeling properties 
   */
  margin-top: 80px;
  height: 400px;

  /* 
    * flexbox properties 
    */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #eec374;
  background-image: url("https://www.transparenttextures.com/patterns/random-grey-variations.png");
}

.headerName {
  color: white;
}

@media (min-width: 1024px) {
  .headerProfilePicture {
    width: 25vw;
    margin-top: 120px;
  }
}