html {
  box-sizing: border-box;
}

.container {
  color: #545149;
  background-color: #f4f1ec;
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
}

.tweet {
  /* 
   * box modeling properties 
   */
  box-sizing: border-box;
  width: 100%;
  border: solid #545149 4px;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  /* 
  * flexbox properties 
  */
  display: flex;
  flex-direction: column;
}

.tweet:hover {
  box-shadow: 7px 7px #b7b8cc
}

.tweet header {
  /* 
   * flexbox properties 
   */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}

.tweet header div {
  /* 
   * flexbox properties 
   */
  display: flex;
  align-items: center;
}

.userAvatar {
  size-adjust: 30px;
}

.userName {
  padding-left: 0.8rem;
}

.theTweet {
  border-bottom: solid #545149 4px;
  padding-top: 1rem;
  padding-bottom: 0.7rem;
  word-break: break-all;
}

.userHandle {
  /* 
   * box modeling properties 
   */
  color: lightgrey;
  display: flex;
  justify-content: flex-end;
}

.tweet footer {
  /* 
   * box modeling properties 
   */
  font-size: 0.8rem;
  padding-top: 0.5rem;
  padding-bottom: 0.6rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  /* 
   * flexbox properties 
   */
  display: flex;
  justify-content: space-between;
}

.date {
  display: flex;
  align-items: center;
}

.tweet footer button {
  color: #41507b;
  background-color: transparent;
  border: none;
}

.tweet footer button:hover {
  color: #d1c84a;
}